

/* Default canvas size */
canvas {
  width: 640px !important;
  height: 640px !important;
}

/* Medium screens (md: max-width: 768px) */
@media (max-width: 768px) {
  canvas {
    width: 320px !important;
    height: 320px !important;
  }
}

/* Small screens (sm: max-width: 480px) */
@media (max-width: 480px) {
  canvas {
    width: 160px !important;
    height: 160px !important;
  }
}



